openapi: 3.1.0
info:
  title: nextStop Candidate Search API
  version: 1.1.0-draft
  description: |
    Draft architecture-gate contract. The v1 wire shape is unchanged across two
    candidate modes. With foodChain omitted or null, the backend emits one bounded
    charging campus candidate per stable campus ID. With foodChain non-null, it emits
    complete-link fine-park candidates after the exact selected-chain proximity
    predicate from a pinned OSM projection. The backend performs exact route
    corridor filtering. MapKit on iOS calculates actual driving distance, applies
    the exact selected distance range, and performs final distance-only ranking.
    Supported physical devices obtain a 15-minute search token through Apple App
    Attest. Challenges are single use and expire after three minutes. A Debug
    Simulator obtains the same short-lived token shape from a loopback-only Mac
    broker; that local broker is not part of this public HTTPS API. Behind the
    public origin, Nginx routes only `/v1/auth/app-attest/*` to the isolated
    authentication service on VM loopback port 3001. Health and candidate search
    remain on the API on VM loopback port 3000. Its search pool remains read-only;
    voluntary user error reports use a separately granted support pool.
    For iOS 27 proofs that carry Apple's validation extensions, validation
    category and bundle version must appear together and are checked on every
    attestation and assertion. Development keys accept category 3; production
    keys accept TestFlight category 2 or App Store category 4. Bundle versions
    must be in the server's `APP_ATTEST_SUPPORTED_BUNDLE_VERSIONS` allowlist. A
    proof without either extension is accepted as the legacy pre-iOS-27 shape;
    partial or unknown extensions fail closed. Values are not required to equal
    the initial attestation, so an allowlisted app update remains valid.
servers:
  - url: https://api.nextstop.tech
paths:
  /v1/error-reports:
    post:
      operationId: submitUserErrorReport
      summary: Submit a report after an explicit user action and privacy notice
      description: |
        A valid short-lived App Attest access token is required. The legacy staging
        bearer is never accepted. No background collection or upload is implied.
        Body limit 128 KiB, message 1–5000 Unicode scalar values after trimming,
        optional 1–200 allowlisted diagnostic events, no metadata outside this schema.
        Same reportId, secret and canonical payload return the original receipt (200);
        changed secret or payload returns 409. A withdrawn report returns 410.
        Retained for 30 days, purged every 15 minutes and on API startup; normal
        deletion delay is at most one hour. Proxy admission is 6/minute/IP with burst2;
        application admission is 10 POST/minute globally and four concurrent report
        operations. Store cap is 1000 entries and 128 MiB, including tombstones.
      security:
        - appAttestReportBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserErrorReportSubmission' }
      responses:
        '201':
          description: Report accepted and durably stored.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserErrorReportReceipt' }
        '200':
          description: Identical report was already accepted; original receipt.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserErrorReportReceipt' }
        '400': { description: Invalid or extra fields; no report stored. }
        '401': { description: Valid short-lived access token required. }
        '409': { description: Report ID is already bound to another secret or payload. }
        '410': { description: Report was withdrawn or expired; do not resubmit. }
        '413': { description: Request exceeds 128 KiB. }
        '429': { description: Admission exhausted; Retry-After is supplied. }
        '503': { description: Storage unavailable or capacity exhausted. }
    delete:
      operationId: withdrawUserErrorReport
      summary: Withdraw a report using its per-report deletion secret
      description: |
        Requires only the unguessable deletion token in the JSON body, including
        when App Attest is unavailable. Missing, expired and incorrect-token
        requests all return 204, preventing an existence oracle. Removes text,
        diagnostics, payload hash and receipt time immediately. Only report ID,
        hashed deletion token and original expiry remain until scheduled purge to
        prevent late retries from restoring withdrawn content. A deletion arriving
        before its POST stores a tombstone for at most 30 days from withdrawal.
        If capacity prevents remembering withdrawal, return 503 so the client
        retains its proof and retries. No public GET exists.
        Limit is 30 DELETE/minute globally, sharing proxy rate and concurrency caps.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserErrorReportDeletion' }
      responses:
        '204': { description: Withdrawal processed without revealing existence. }
        '400': { description: Invalid deletion proof shape. }
        '413': { description: Request exceeds 128 KiB. }
        '429': { description: Admission exhausted; Retry-After is supplied. }
        '503': { description: Withdrawal could not be processed; retry explicitly. }
  /health:
    get:
      operationId: getHealth
      summary: Report process health without requiring credentials
      responses:
        '200':
          description: Process is accepting requests.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [status]
                properties:
                  status: { const: ok }
  /v1/auth/app-attest/challenge:
    post:
      operationId: createAppAttestChallenge
      summary: Create one single-use App Attest challenge
      description: |
        Creates 32 random client-data bytes bound to the supplied App Attest key
        identifier and purpose. The challenge expires after three minutes and is
        consumed atomically by the corresponding proof exchange. This endpoint
        does not require an existing search credential. The raw request body is
        limited to 1 KiB. At the public gateway, all App Attest endpoints share a
        12-request-per-minute limit per client IP with a burst of four; the auth
        process additionally permits at most 120 challenges globally per minute.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAttestChallengeRequest'
      responses:
        '200':
          description: A fresh challenge valid for at most three minutes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttestChallenge'
        '400':
          $ref: '#/components/responses/InvalidAppAttestRequest'
        '413':
          $ref: '#/components/responses/RequestTooLarge'
        '429':
          $ref: '#/components/responses/AuthenticationRateLimited'
        '503':
          $ref: '#/components/responses/AppAttestUnavailable'
  /v1/auth/app-attest/attest:
    post:
      operationId: registerAppAttestKey
      summary: Verify a first App Attest attestation and issue a search token
      description: |
        Consumes an `attestation` challenge, verifies the Apple attestation for
        the configured full App ID and environment, registers the installation
        key, and returns a memory-only 15-minute bearer token. The attestation
        object is canonical padded Base64 and decodes to at most 128 KiB; the raw
        request body is limited to 192 KiB. At the public gateway, all App Attest
        endpoints share a 12-request-per-minute limit per client IP with a burst
        of four. The auth process additionally permits at most 60 proof exchanges
        globally per minute and two concurrent cryptographic proof verifications.
        When Apple's iOS 27 validation extensions are present, both are required
        and their category/build values must pass the current server allowlists.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAttestAttestationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SearchAccessToken'
        '400':
          $ref: '#/components/responses/InvalidAppAttestRequest'
        '401':
          $ref: '#/components/responses/AppAttestRejected'
        '413':
          $ref: '#/components/responses/RequestTooLarge'
        '429':
          $ref: '#/components/responses/AuthenticationRateLimited'
        '503':
          $ref: '#/components/responses/AppAttestUnavailable'
  /v1/auth/app-attest/assert:
    post:
      operationId: verifyAppAttestAssertion
      summary: Verify an App Attest assertion and issue a search token
      description: |
        Consumes an `assertion` challenge for an already registered key, verifies
        the assertion and its strictly increasing counter, and returns a
        memory-only 15-minute bearer token. The assertion object is canonical
        padded Base64 and decodes to at most 16 KiB; the raw request body is
        limited to 24 KiB. At the public gateway, all App Attest endpoints share a
        12-request-per-minute limit per client IP with a burst of four. The auth
        process additionally permits at most 60 proof exchanges globally per
        minute and two concurrent cryptographic proof verifications. Any iOS 27
        validation-extension pair is checked afresh; it need not equal the pair
        stored from initial attestation, which permits allowlisted app updates.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAttestAssertionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SearchAccessToken'
        '400':
          $ref: '#/components/responses/InvalidAppAttestRequest'
        '401':
          $ref: '#/components/responses/AppAttestRejected'
        '404':
          $ref: '#/components/responses/AppAttestKeyNotRegistered'
        '409':
          $ref: '#/components/responses/AppAttestCounterConflict'
        '413':
          $ref: '#/components/responses/RequestTooLarge'
        '429':
          $ref: '#/components/responses/AuthenticationRateLimited'
        '503':
          $ref: '#/components/responses/AppAttestUnavailable'
  /v1/charging-parks/search:
    post:
      operationId: searchChargingParkCandidates
      summary: Return a stable page of route-corridor charging candidates
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Stable candidate page; this is not the final ranked list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Missing, malformed, expired, or invalid search bearer credential.
          headers:
            WWW-Authenticate:
              schema:
                type: string
                const: 'Bearer realm="nextstop-search"'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '413':
          description: Request body exceeds 512 KiB.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Cursor does not belong to the supplied snapshot/request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limited or all bounded search slots are occupied.
          headers:
            Retry-After:
              schema:
                type: integer
                minimum: 1
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: No valid charging or requested food-POI projection is available.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  securitySchemes:
    appAttestReportBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived App Attest access token only; no legacy shared bearer.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A server-signed search access token issued after App Attest verification
        and valid for exactly 15 minutes. A Debug Simulator may present the same
        token shape after its loopback Mac broker mints one through Google Cloud
        IAP. During the private staging migration only, the server may also accept
        the former revocable bearer when `ALLOW_LEGACY_STAGING_BEARER=true`; that
        compatibility credential is not part of distributed App Attest builds.
  responses:
    BadRequest:
      description: Invalid route or criteria.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    InvalidAppAttestRequest:
      description: |
        Malformed, non-canonical, or semantically invalid App Attest request.
        Problem type: `urn:nextstop:error:invalid-app-attest-request`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    AppAttestRejected:
      description: |
        The challenge was missing, expired, already consumed, or bound to another
        key/purpose, or the submitted attestation/assertion failed cryptographic
        verification, or the initial key registration could not be accepted.
        Problem type: `urn:nextstop:error:app-attest-rejected`.
      headers:
        WWW-Authenticate:
          schema:
            type: string
            const: 'Bearer realm="nextstop-attestation"'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    AppAttestKeyNotRegistered:
      description: |
        The assertion's key is missing or revoked. The response deliberately does
        not disclose which state applies, and no assertion counter is advanced.
        Problem type: `urn:nextstop:error:app-attest-key-not-registered`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    AppAttestCounterConflict:
      description: |
        Another assertion already advanced this key's counter. The client must
        request a fresh assertion challenge and retry with a fresh assertion.
        Problem type: `urn:nextstop:error:app-attest-counter-conflict`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    RequestTooLarge:
      description: |
        Request body exceeds the endpoint-specific body limit.
        Problem type: `urn:nextstop:error:request-too-large`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    AuthenticationRateLimited:
      description: |
        Authentication rate or concurrent-proof capacity is exhausted.
        Problem type: `urn:nextstop:error:authentication-rate-limited`.
      headers:
        Retry-After:
          schema:
            type: integer
            const: 60
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    AppAttestUnavailable:
      description: |
        App Attest authentication is not configured in this environment.
        Problem type: `urn:nextstop:error:app-attest-unavailable`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    SearchAccessToken:
      description: Short-lived credential for candidate search.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchAccessToken'
  schemas:
    UserErrorReportDeletion:
      type: object
      additionalProperties: false
      required: [reportId, deletionToken]
      properties:
        reportId: { type: string, format: uuid }
        deletionToken:
          type: string
          format: uuid
          description: Client-generated random secret; never log it or store it unhashed.
    UserErrorReportReceipt:
      type: object
      additionalProperties: false
      required: [reportId, receivedAt, expiresAt]
      properties:
        reportId: { type: string, format: uuid }
        receivedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
    UserErrorReportSubmission:
      type: object
      additionalProperties: false
      required: [schemaVersion, reportId, deletionToken, consentVersion, message, includeDiagnostics]
      properties:
        schemaVersion: { const: 1 }
        reportId: { type: string, format: uuid }
        deletionToken: { type: string, format: uuid }
        consentVersion: { const: '2026-09-13' }
        message:
          type: string
          minLength: 1
          maxLength: 5000
          description: Trimmed Unicode scalar values; unpaired surrogates and NUL rejected.
        includeDiagnostics: { type: boolean }
        diagnostics:
          type: array
          minItems: 1
          maxItems: 200
          items: { $ref: '#/components/schemas/AppDiagnosticEvent' }
      allOf:
        - if:
            properties:
              includeDiagnostics: { const: true }
          then:
            required: [diagnostics]
          else:
            not:
              required: [diagnostics]
    AppDiagnosticEvent:
      type: object
      additionalProperties: false
      required: [id, timestamp, operation, outcome, category, durationMilliseconds, attempt]
      properties:
        id: { type: string, format: uuid }
        timestamp:
          type: string
          format: date-time
          description: UTC Z timestamp from 1970 through 2100, at most three fractional digits.
        operation:
          enum: [candidateSearch, route, candidateDistance, authentication, placeLookup, mapsLaunch]
        outcome: { enum: [failure, retryScheduled, recovered] }
        category:
          enum: [networkTimeout, networkLost, offline, connection, http, invalidResponse, authentication, noRoute, invalidRoute, throttled, unknown]
        durationMilliseconds: { type: integer, minimum: 0, maximum: 300000 }
        attempt: { type: integer, minimum: 1, maximum: 3 }
        httpStatus: { type: integer, minimum: 100, maximum: 599 }
        errorDomain: { enum: [url, mapKit, routePlanning, unknown] }
        errorCode: { type: integer, minimum: -10000, maximum: 10000 }
        serverRequestID: { type: string, format: uuid }
        edgeRequestID: { type: string, format: uuid }
    AppAttestKeyID:
      type: string
      minLength: 40
      maxLength: 64
      pattern: '^[A-Za-z0-9+/]+={0,2}$'
      description: |
        Canonical padded Base64 returned by `DCAppAttestService.generateKey()`;
        semantic validation requires it to decode to exactly 32 bytes. The server
        stores only its SHA-256 hash.
    AppAttestChallengeID:
      type: string
      format: uuid
      pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
      description: Canonical lowercase UUIDv4 generated by the server.
    AppAttestChallengeRequest:
      type: object
      additionalProperties: false
      required: [keyId, purpose]
      properties:
        keyId:
          $ref: '#/components/schemas/AppAttestKeyID'
        purpose:
          type: string
          enum: [attestation, assertion]
    AppAttestChallenge:
      type: object
      additionalProperties: false
      required: [challengeId, clientData, expiresAt]
      properties:
        challengeId:
          $ref: '#/components/schemas/AppAttestChallengeID'
        clientData:
          type: string
          minLength: 43
          maxLength: 43
          pattern: '^[A-Za-z0-9_-]+$'
          description: Exactly 32 random bytes encoded as unpadded Base64URL.
        expiresAt:
          type: string
          format: date-time
          description: Exactly three minutes after challenge creation.
    AppAttestAttestationRequest:
      type: object
      additionalProperties: false
      required: [keyId, challengeId, attestationObject]
      properties:
        keyId:
          $ref: '#/components/schemas/AppAttestKeyID'
        challengeId:
          $ref: '#/components/schemas/AppAttestChallengeID'
        attestationObject:
          type: string
          minLength: 1
          maxLength: 174768
          pattern: '^[A-Za-z0-9+/]+={0,2}$'
          description: Canonical padded Base64; decoded size is at most 128 KiB.
    AppAttestAssertionRequest:
      type: object
      additionalProperties: false
      required: [keyId, challengeId, assertionObject]
      properties:
        keyId:
          $ref: '#/components/schemas/AppAttestKeyID'
        challengeId:
          $ref: '#/components/schemas/AppAttestChallengeID'
        assertionObject:
          type: string
          minLength: 1
          maxLength: 21848
          pattern: '^[A-Za-z0-9+/]+={0,2}$'
          description: Canonical padded Base64; decoded size is at most 16 KiB.
    SearchAccessToken:
      type: object
      additionalProperties: false
      required: [accessToken, tokenType, expiresInSeconds]
      properties:
        accessToken:
          type: string
          minLength: 1
          maxLength: 2048
          description: Opaque to the client and retained only in memory.
        tokenType:
          const: Bearer
        expiresInSeconds:
          const: 900
    SearchRequest:
      type: object
      additionalProperties: false
      required: [requestId, route, criteria]
      properties:
        requestId:
          type: string
          format: uuid
          description: Fresh per-operation identifier; never a device/user ID.
        route:
          $ref: '#/components/schemas/RouteLineString'
        criteria:
          $ref: '#/components/schemas/SearchCriteria'
        page:
          type: object
          additionalProperties: false
          properties:
            snapshotToken:
              type: string
              maxLength: 512
            cursor:
              type: string
              maxLength: 512
          description: Omit both fields on the first page; echo server values later.
    RouteLineString:
      type: object
      additionalProperties: false
      required: [type, coordinates]
      properties:
        type:
          const: LineString
        coordinates:
          type: array
          minItems: 2
          maxItems: 8000
          description: >
            Detailed MapKit route. Every coordinate must be within the supported
            European envelope; route length is limited to 2,500 km and individual
            segments to 250 km. Geometry is rejected, never silently simplified.
          items:
            type: array
            prefixItems:
              - type: number
                minimum: -25
                maximum: 45
                description: Longitude.
              - type: number
                minimum: 34
                maximum: 72
                description: Latitude.
            minItems: 2
            maxItems: 2
    SearchCriteria:
      type: object
      additionalProperties: false
      required:
        - distanceRangeMeters
        - minimumChargingPoints
        - minimumPowerKW
      properties:
        distanceRangeMeters:
          oneOf:
            - $ref: '#/components/schemas/Range15To50'
            - $ref: '#/components/schemas/Range50To100'
            - $ref: '#/components/schemas/Range100To150'
          description: Used for safe batching; exact filtering occurs on iOS.
        minimumChargingPoints:
          type: integer
          enum: [2, 4, 6, 8, 10, 12, 16, 20]
          description: >
            Applied after EVSEs below minimumPowerKW are removed and the remainder
            is deduplicated across the selected candidate unit: the whole campus
            when foodChain is omitted or null, otherwise one fine park.
        minimumPowerKW:
          type: integer
          enum: [11, 22, 50, 100, 150, 200, 250, 300, 350, 400]
          description: >
            Applied to each EVSE before candidate-wide deduplication, operator
            counts, and minimumChargingPoints. Availability remains informational.
        foodChain:
          type: [string, 'null']
          enum: [null, mcdonalds, burger_king, kfc, subway]
          description: >
            Omitted or null selects bounded no-food campus candidates. A non-null
            value selects complete-link fine-park candidates and requires a matching
            OSM restaurant within 500 m of the power-filtered fine-park navigation
            coordinate.
    Range15To50:
      type: object
      additionalProperties: false
      required: [minimum, maximum]
      properties:
        minimum: { const: 15000 }
        maximum: { const: 50000 }
    Range50To100:
      type: object
      additionalProperties: false
      required: [minimum, maximum]
      properties:
        minimum: { const: 50000 }
        maximum: { const: 100000 }
    Range100To150:
      type: object
      additionalProperties: false
      required: [minimum, maximum]
      properties:
        minimum: { const: 100000 }
        maximum: { const: 150000 }
    SearchResponse:
      type: object
      additionalProperties: false
      required: [snapshotToken, candidates, coverage, generatedAt, attributions]
      properties:
        snapshotToken:
          type: string
        nextCursor:
          type: [string, 'null']
        generatedAt:
          type: string
          format: date-time
        candidates:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/ChargingParkCandidate'
        coverage:
          $ref: '#/components/schemas/Coverage'
        attributions:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DataAttribution'
    ChargingParkCandidate:
      type: object
      additionalProperties: false
      description: |
        Compatibility name for the v1 candidate shape. With foodChain omitted or
        null this is one ChargingCampus (fine-park seeds joined by <=200 m
        cross-edges while the union diameter remains <=500 m). With foodChain
        non-null this is one
        complete-link ChargingPark with maximum diameter <=200 m and an exact food
        match. The backend chooses this identity before charging filters and paging.
        coordinate is the power-filtered display coordinate; navigationCoordinate
        is the qualifying member/access point used consistently for corridor,
        origin lower bound, MapKit distance, and handoff. chargingPoints, operator
        counts, availability, maximumPowerKW, and locationLookups all cover that
        selected candidate unit after power filtering and EVSE deduplication.
      required:
        - id
        - name
        - coordinate
        - navigationCoordinate
        - distanceFromRouteMeters
        - straightLineLowerBoundMeters
        - chargingPoints
        - availability
        - maximumPowerKW
        - operators
        - operatorChargingPoints
        - locationLookups
        - sources
        - dataUpdatedAt
      properties:
        id:
          type: string
          format: uuid
          description: >
            Stable charging-campus-v1 ID when foodChain is omitted or null;
            otherwise the stable fine-park ID.
        name:
          type: string
          minLength: 1
          maxLength: 200
          description: >
            Power-filtered candidate name; campus-wide when foodChain is omitted or
            null.
        coordinate: { $ref: '#/components/schemas/Coordinate' }
        navigationCoordinate: { $ref: '#/components/schemas/Coordinate' }
        distanceFromRouteMeters:
          type: integer
          minimum: 0
          maximum: 5000
          description: >
            Exact geodesic distance from navigationCoordinate to the supplied route
            line.
        preliminaryRouteProgressMeters:
          type: integer
          minimum: 0
          description: Never display or treat as actual driving distance.
        straightLineLowerBoundMeters:
          type: integer
          minimum: 0
          description: >
            Geodesic origin-to-navigationCoordinate lower bound; never display as
            driving distance.
        chargingPoints:
          type: integer
          minimum: 1
          description: >
            Deduplicated EVSEs meeting minimumPowerKW across the whole campus when
            foodChain is omitted or null, otherwise across this fine park.
        availability: { $ref: '#/components/schemas/ParkAvailability' }
        maximumPowerKW:
          type: integer
          minimum: 1
          description: >
            Maximum power among qualifying EVSEs across the selected candidate unit.
        operators:
          type: array
          uniqueItems: true
          items: { type: string }
        operatorChargingPoints:
          type: array
          minItems: 1
          description: >
            Exact-name operator partitions of candidate-wide deduplicated EVSEs
            meeting minimumPowerKW; the sum equals chargingPoints. Campus mode must
            not sum pre-aggregated fine-park counts.
          items:
            $ref: '#/components/schemas/OperatorChargingPoints'
        locationLookups:
          type: array
          minItems: 1
          description: >
            Power-filtered authority locations across the whole selected candidate
            unit, used only for on-device Apple POI matching.
          items:
            $ref: '#/components/schemas/ChargingLocationLookup'
        sources:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/SourceSummary' }
        dataUpdatedAt: { type: string, format: date-time }
        foodPOI:
          description: >
            Absent or null in campus mode; the exact <=500 m OSM match for this
            fine park in food mode.
          oneOf:
            - $ref: '#/components/schemas/FoodPOI'
            - type: 'null'
    ChargingLocationLookup:
      type: object
      additionalProperties: false
      required: [id, operatorName, coordinate, address]
      properties:
        id: { type: string, format: uuid }
        operatorName: { type: string, minLength: 1, maxLength: 200 }
        coordinate: { $ref: '#/components/schemas/Coordinate' }
        address:
          type: object
          additionalProperties: false
          properties:
            street: { type: string, minLength: 1, maxLength: 200 }
            houseNumber: { type: string, minLength: 1, maxLength: 50 }
            postalCode: { type: string, minLength: 1, maxLength: 20 }
            city: { type: string, minLength: 1, maxLength: 200 }
    FoodPOI:
      type: object
      additionalProperties: false
      required: [id, chain, name, coordinate, distanceFromChargingParkMeters, sourceRecordURL]
      properties:
        id: { type: string, minLength: 1 }
        chain:
          type: string
          enum: [mcdonalds, burger_king, kfc, subway]
        name: { type: string, minLength: 1, maxLength: 200 }
        coordinate: { $ref: '#/components/schemas/Coordinate' }
        distanceFromChargingParkMeters:
          type: integer
          minimum: 0
          maximum: 500
          description: >
            Exact geodesic distance to the power-filtered fine-park navigation
            coordinate.
        openingHours: { type: [string, 'null'] }
        sourceRecordURL: { type: string, format: uri }
    DataAttribution:
      type: object
      additionalProperties: false
      required: [id, name, notice, licenseName, licenseURL]
      properties:
        id: { type: string, minLength: 1 }
        name: { type: string, minLength: 1 }
        notice: { type: string, minLength: 1 }
        licenseName: { type: string, minLength: 1 }
        licenseURL: { type: string, format: uri }
        transportName: { type: [string, 'null'] }
        transportURL: { type: [string, 'null'], format: uri }
    OperatorChargingPoints:
      type: object
      additionalProperties: false
      required: [name, chargingPoints]
      properties:
        name: { type: string, minLength: 1 }
        chargingPoints: { type: integer, minimum: 1 }
    Coordinate:
      type: object
      additionalProperties: false
      required: [latitude, longitude]
      properties:
        latitude: { type: number, minimum: -90, maximum: 90 }
        longitude: { type: number, minimum: -180, maximum: 180 }
    ParkAvailability:
      type: object
      additionalProperties: false
      required:
        - knownAvailable
        - knownUnavailable
        - unknown
        - total
        - complete
      properties:
        knownAvailable: { type: integer, minimum: 0 }
        knownUnavailable: { type: integer, minimum: 0 }
        unknown: { type: integer, minimum: 0 }
        total: { type: integer, minimum: 1 }
        complete: { type: boolean }
        observedAt: { type: [string, 'null'], format: date-time }
    SourceSummary:
      type: object
      additionalProperties: false
      required: [id, name, qualityTier, staticObservedAt]
      properties:
        id: { type: string }
        name: { type: string }
        qualityTier:
          type: string
          enum: [operator, authority, open_data, community]
        staticObservedAt: { type: string, format: date-time }
        liveObservedAt: { type: [string, 'null'], format: date-time }
    Coverage:
      type: object
      additionalProperties: false
      required: [status, activeSources, unavailableSources, projectionUpdatedAt]
      properties:
        status:
          type: string
          enum: [complete, degraded, stale]
        activeSources:
          type: array
          items: { type: string }
        unavailableSources:
          type: array
          items: { type: string }
        projectionUpdatedAt: { type: string, format: date-time }
    Problem:
      type: object
      additionalProperties: true
      required: [type, title, status, errorId]
      properties:
        type: { type: string, format: uri-reference }
        title: { type: string }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string }
        errorId:
          type: string
          minLength: 16
          maxLength: 128
          pattern: '^[A-Za-z0-9_-]+$'
          description: Opaque support identifier; do not infer UUID semantics.
